<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
		<p>Select an option:</p>
		<ul>
			<li> <a href="customers.html" th:href="@{/customers}">Customer Options</a></li>
			<li> <a href="managers.html" th:href="@{/managers}">Customer Manager Options</a></li>
		</ul>
		
        <!--
			<form action="#" th:action="@{/}" th:object="${personForm}" method="post">
        		<td><button type="submit">Onboard Customer</button></td>
		    	<td><button type="submit">Add Customer Manager</button></td>
        	</form>
		-->
    </body>
</html>